<footer id="footer">
    <div>
        <p>
            Codial. All Rights Reserved
        </p>
    </div>
<<<<<<< HEAD
    <% if(locals.user){%>
        <div>
            <nav class="footer-nav">
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/user/profile/<%= locals.user.id %>">Profile</a>
                    </li>
                </ul>
            </nav>
        </div>
    <% } %>
=======
    <div>
        <nav class="footer-nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/user/profile">Profile</a>
                </li>
            </ul>
        </nav>
    </div>
>>>>>>> 759e38268171e3d51d37d664cc99413c3c210cf4
</footer>