<footer id="footer">
    <div>
        <p>
            Codial. All Rights Reserved
        </p>
    </div>
    <% if(locals.user){%>
        <div>
            <nav class="footer-nav">
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/user/profile/<%= locals.user.id %>">Profile</a>
                    </li>
                </ul>
            </nav>
        </div>
    <% } %>