<form action="/user/new_password" method="POST">
    <input type="password" name="password" placeholder="Enter Password">
    <input type="password" name="confirm" placeholder="Confirm Password">
    <input type="hidden" name="token" value=<%= token %>>
    <input type="submit">
</form>