<link rel="stylesheet" href="/css/forms.css">

<form action="/user/register" method="POST">
    <p>New User?</p>
    <input type="text" name="name" placeholder="Enter Name" required>
    <input type="email" name="email" placeholder="Enter Email" required>
    <input type="password" name="password" placeholder="Enter password" required>
    <input type="password" name="confirm" placeholder="Confirm Password">
    <input class="submit-button" type="submit">
</form>
<!-- Google OAuthentication Sign-Up -->
 <p>
    <a href="/user/auth/google">Google SignIn/SignUp</a>
 </p>