<link rel="stylesheet" href="<%= assetPath('css/forms.css')%>">

<form action="/user/create-session" method="POST">
    <p>Already a User?</p>
    <input name="email" type="email" placeholder="Enter Email">
    <input name="password" type="password" placeholder="Enter Password">
    <input type="submit">
</form>
<a href="/user/forget-password">Forgot Password?</a>