<form action="/user/create-session" method="POST">
<input name="email" type="email" placeholder="Enter Email">
<input name="password" type="password" placeholder="Enter Password">
<input type="submit">
</form>