#user-chatbox {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 2;
  margin-right: 20px;
  height: 300px;
  width: 300px;
  border: 1px black solid;
  padding: 5px;
  background: white; }
  #user-chatbox #chat-messages-list {
    list-style: none;
    padding: 10px;
    height: 70%;
    overflow: auto;
    background: white; }
    #user-chatbox #chat-messages-list .other-response {
      text-align: left;
      padding: 5px; }
      #user-chatbox #chat-messages-list .other-response span {
        display: inline-block;
        padding: 10px;
        background-color: #f8be3f;
        border-radius: 20px; }
    #user-chatbox #chat-messages-list .self-response {
      text-align: right; }
      #user-chatbox #chat-messages-list .self-response span {
        display: inline-block;
        padding: 10px;
        background-color: #9cb81f;
        border-radius: 20px; }
  #user-chatbox #chat-controller-bottom {
    width: 100%;
    height: 14%;
    display: flex;
    flex-direction: row; }
    #user-chatbox #chat-controller-bottom input {
      width: 70%; }
    #user-chatbox #chat-controller-bottom button {
      width: 30%; }
