#home-container {
  display: flex;
  min-height: calc(100vh - 48px - 108px); }
  #home-container #feed-posts {
    width: 70%;
    padding: 10px; }
  #home-container #friend-list {
    width: 30%;
    padding: 10px;
    border-left: 1px solid lightgrey; }
  #home-container .sign-form {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px; }
    #home-container .sign-form #sign-up {
      width: 50%;
      margin-left: 5%;
      border: 2px solid lightgrey;
      border-radius: 3%; }
    #home-container .sign-form #sign-in {
      width: 50%;
      margin-left: 5%;
      border: 2px solid lightgrey;
      margin-right: 5%;
      border-radius: 3%; }
