<html>
    <body>
        <h1>Hi! <%= details.user.name %></h1>

        <p>To Reset your password click on:</p>
        <span>http://localhost:8000/user/reset-password/?token=<%= details.token %></span>
    </body>
</html>